#header {
    background: #0E1014;
    
}
.container {
    width: 90%;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  50px 100px
    
    
}
a{
   
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E4E5EA;
text-decoration: none;

}

